@model string
@using Newtonsoft.Json;

@{
    dynamic customer = JsonConvert.DeserializeObject(Model);
}

<h1 class="mb-4 text-center">Customer Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow">
                <div class="card-body text-left">
                    <div class="mb-3">
                        <strong>Name:</strong>
                        <span class="ms-2">@customer.name</span>
                    </div>
                   
                    <div class="mb-3">
                        <strong>Email:</strong>
                        <span class="ms-2">@customer.email</span>
                    </div>
                    <div class="mb-3">
                        <strong>Address:</strong>
                        <span class="ms-2">@customer.address</span>
                    </div>
                    <div class="mt-4">
                        <a href="@Url.Action("Index", "Customer")" class="btn btn-primary me-2">Home</a>
                        <a href="@Url.Action("Edit", "Customer", new { id = @customer.customerId })" class="btn btn-danger">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>